body{
  background-color: #101822;
  color: #f4921e;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App a{
  text-decoration: none;
  color: #f4921e;
}

button{
  margin: 8px 6px;
  background-color: #101822;
  color:#f4921e;
  border: 1px solid #f4921e;;
  border-radius: 7.5px;
  padding: 7.5px;
  cursor: pointer;
}

.Delete{
  color: #dd115a;
  border: 1px solid #dd115a;
}